<div class="file-info">
	<div class="file-info-row">
		{{tracks.length}} track{{#Compare tracks.length '!==' 1}}s{{/Compare}}
	</div>
	<ul class="tracks-list">
		{{#each tracks}}
		<li>
		<h3>Track {{@index}}{{#if name}}: {{name}}{{/if}}</h3>
		{{#if instruments}}
			<h5 class="instrument-list-header">Instruments</h5>
			<ul class="instrument-list">
				{{#instruments}}
				<li>{{name}} ({{category}})</li>
				{{/instruments}}
			</ul>
		{{else}}
			<p class="no-instruments-message">
			No instruments on this track
			</p>
		{{/if}}
		{{#if textFields}}
			<h5 class="text-field-list-header">Text fields</h5>
			<dl class="text-field-list dl-horizontal">
				{{#each textFields}}
				<dt>{{@key}}</dt>
				<dd>
					{{#if this.length}}
					<ul class="text-value-list">
						{{#.}}
						<li>{{.}}</li>
						{{/.}}
					</ul>
					{{else}}
						{{.}}
					{{/if}}
				</dd>
				{{/each}}
			</dl>
		{{/if}}
		</li>
		{{/each}}
	</ul>
</div>
