<div class="window-marker window-start-marker" data-value="{{@root/window.start}}" title="Start: {{@root/window.start}}%"></div>

<ul
	class="track-list"
	data-file-duration-microseconds="{{duration}}"
	data-window-start="{{@root/window.start}}"
	data-window-end="{{@root/window.end}}"
>
	{{#tracks}}
	<li class="track-item">
		{{> timeline/track}}
	</li>
	{{/tracks}}
</ul>
<div class="window-marker window-end-marker" data-value="{{@root/window.end}}" title="End: {{@root/window.end}}%"></div>
